#main-header {
    display: flex;          /* Usa flexbox para la disposición */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;   /* Centra verticalmente los elementos */
    background-color: #6CCAD0; /* Fondo del encabezado */
    color: white;          /* Color del texto */
    padding: 15px;        /* Espaciado interior */
    position: fixed;      /* Fija el encabezado en la parte superior */
    top: 0;               /* Posición desde la parte superior */             /* Posición desde el lado izquierdo */
    left: 0;
    width: 100%;          /* Ancho completo */
    z-index: 900; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: larger;
      /* Asegúrate de que esté por encima de otros elementos */
}

#main-header img {
    height: 80px; /* Ajusta la altura de la imagen */

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://img.freepik.com/premium-photo/wooden-car-toys-blue-background-car-toys-background_423236-194.jpg?semt=ais_hybrid);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


nav {
    display: flex;          /* Usa flexbox para la navegación */
}

nav a {
    color: white;          /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin: 40px;       /* Espaciado entre los enlaces */
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
    
}

.registro-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.registro-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d3c4b9;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.registro-form input:focus {
    border-color: #ff5b3d;
    outline: none;
}

.nota, .aviso {
    font-size: 12px;
    color: #555;
    text-align: left;
    margin: -8px 0 10px;
}

.aviso {
    color: #d63031;
    font-weight: bold;
}

button {
    background-color: #ff5b3d;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e04b2e;
}
